<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


 <welcome-file-list> <welcome-file>Logic.html</welcome-file></welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>HelloServlet1</servlet-name>
  	<display-name>HelloServlet1</display-name>
  	<description></description>
  	<servlet-class>com.java.servletdemo.HelloServlet1</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>HelloServlet1</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
</web-app>
